# Text Classification

In [2]:
import os
import pandas as pd

In [10]:
d=os.listdir("C:/Users/PADAM/Desktop/python/dataset/train/")

In [11]:
d

['neg', 'pos']

Load Dtasets

In [13]:
data=[]
labels=[]
target={'pos':1,'neg':0}
for i in d:
    p="C:/Users/PADAM/Desktop/python/dataset/train/"+i
    for k in os.listdir(p):
        with open(p+'/'+k,'r') as f:
            d=f.read()
        data.append(d)
        labels.append(target[i])

In [14]:
len(data)

1000

In [17]:
len(labels)

1000

In [15]:
df=pd.DataFrame(data,columns=['Reviews'])
df['target']=labels

In [16]:
df.head()

                                             Reviews  target
0  Story of a man who has unnatural feelings for ...       0
1  OK its not the best film I've ever seen but at...       0
2  Amateur, no budget films can be surprisingly g...       0
3  My girlfriend once brought around The Zombie C...       0
4  Without wishing to be a killjoy, Brad Sykes is...       0

In [ ]:
df.target.values_counts()